# CREDINTIALS
SECRET_KEY=730dc26d-7f25-45c2-a88f-ff1594cc4e00

# DATABASE POSTGRES
DB_HOST=localhost
DB_PORT=5432
DB_NAME=database
DB_USERNAME=user
DB_PASSWORD=

# REDIS SETTINGS
HOST=localhost
PORT=6379
USER_REGISTRATION_REDIS_TTL_MS=3600000

# IMAGE SETTINGS
ACCOUNT_MAIN_PHOTO_NAME=avatar

# SAFETY SETTINGS
REQUESTS_LIMIT=100

# MAIL CREDINTIALS
CLIENT_ID=380732020432-i1dk8bi69q4i4chkvlckf00tf812mqje.apps.googleusercontent.com
CLIENT_SECRET=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
REFRESH_TOKEN=1//04ulgI_ASI2kcCgYIARAAGAQSNwF-L9IrENQi3VRP2SlT3iGiMA6dRCVliyhRoM75F0rG3vF5g2_4H-THsVS1niR8Gm0fkk6ZJY8
EMAIL=imagel.service@gmail.com
